@import views.html.caro.partials.quickrules
@(controller: HomeController)

@main("This is Caro") {
<div class="content-body">
    <div class="row">
        <div class="player col-lg-3 col-6">
            <h3 class="highlight" id="p1-name">@controller.controller.getPlayerOneName</h3>
            <nav class="top-padding">
                <div class="nav nav-pills nav-justified" id="nav-tab" role="tablist">
                    <button class="nav-link grey-link active" id="nav-tiles-tab-p1" data-bs-toggle="tab" data-bs-target="#nav-tiles-p1" type="button" role="tab" aria-controls="nav-tiles-p1" aria-selected="true">Tiles</button>
                    <button class="nav-link grey-link" id="nav-scoring-tab-p1" data-bs-toggle="tab" data-bs-target="#nav-scoring-p1" type="button" role="tab" aria-controls="nav-scoring-p1" aria-selected="false">Scoring rules</button>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent-p1">
                <div class="tab-pane fade show active top-padding" id="nav-tiles-p1" role="tabpanel" aria-labelledby="nav-tiles-tab-p1">
                    <h4 id="p1-points">@controller.controller.getBoard.getPlayerOne.getPoints</h4>
                    <div class="tile-padding">
                        @for(tiles <- 0 until controller.controller.getBoard.getPlayerOne.getTiles("red")) {
                        <span class="tile-padding" id="red-tiles-p1">
                            <img src="@routes.Assets.versioned("images/redButton.png")" class="player-tile" id="p1-redtile@tiles" alt="red tile">
                         </span>
                        }
                    </div>
                    <div class="tile-padding">
                        @for(tiles <- 0 until controller.controller.getBoard.getPlayerOne.getTiles("black")) {
                        <span class="tile-padding" id="black-tiles-p1">
                            <img src="@routes.Assets.versioned("images/blackButton.png")" class="player-tile" id="p1-blacktile@tiles" alt="black tile">
                        </span>
                        }
                    </div>
                    <div class="tile-padding">
                        @for(tiles <- 0 until controller.controller.getBoard.getPlayerOne.getTiles("grey")) {
                        <span class="tile-padding" id="grey-tiles-p1">
                            <img src="@routes.Assets.versioned("images/greyButton.png")" class="player-tile" id="p1-greytile@tiles" alt="grey tile">
                        </span>
                        }
                    </div>
                    <div class="tile-padding">
                        @for(tiles <- 0 until controller.controller.getBoard.getPlayerOne.getTiles("white")) {
                        <span class="tile-padding" id="white-tiles-p1">
                            <img src="@routes.Assets.versioned("images/whiteButton.png")" class="player-tile" id="p1-whitetile@tiles" alt="white tile">
                        </span>
                        }
                    </div>
                </div>
                @quickrules("p1")
            </div>
        </div>
        <div class="col-lg-6 col-12 order-first order-lg-0">
            <div class="btn-group" role="group" >
                <a class="btn btn-secondary grey-button" type="button" href="http://localhost:9000/save">Save</a>
                <a class="btn btn-secondary grey-button" type="button" href="http://localhost:9000/undo">Undo</a>
                <a class="btn btn-secondary grey-button" type="button" href="http://localhost:9000/redo">Redo</a>
                <a class="btn btn-secondary grey-button" type="button" href="http://localhost:9000/score">End Game</a>
            </div>
            <div class="col-board" id="board-grid">
            @for(row <- 3 to 15) {
                <div class="btn-group" id="board-grid-row">
                @for(col <- 3 to 15) {
                    @if(controller.controller.getCellColor(row, col) == "none") {
                        <div class="board-tile-padding" id="board-tiles">
                            <span type="button" class="btn btn-secondary dropdown-toggle opacity-noTiles shadow-none empty-tile"  data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="tile@row@col">
                                <img class="tile-img" src="@routes.Assets.versioned("images/noTile.png")" alt="no tile">
                            </span>
                            <div class="dropdown-menu" data-row="@row" data-col="@col">
                                <span class="dropdown-item shadow-none dropdown-tile" data-color="red">
                                    <img class="tile-img" data-color="red" src="@routes.Assets.versioned("images/redButton.png")" alt="red tile">
                                </span>
                                <span class="dropdown-item shadow-none dropdown-tile" data-color="black" >
                                    <img class="tile-img" src="@routes.Assets.versioned("images/blackButton.png")" alt="black tile">
                                </span>
                                <span class="dropdown-item shadow-none dropdown-tile" data-color="grey" >
                                    <img class="tile-img" src="@routes.Assets.versioned("images/greyButton.png")" alt="grey tile">
                                </span>
                                <span class="dropdown-item shadow-none dropdown-tile" data-color="white" >
                                    <img class="tile-img" src="@routes.Assets.versioned("images/whiteButton.png")" alt="white tile">
                                </span>
                            </div>
                        </div>
                    } else if(controller.controller.getCellColor(row, col) == "red") {
                    <span class="board-tile-padding">
                        <img class="tile-img" src="@routes.Assets.versioned("images/redButton.png")" alt="red tile">
                    </span>
                    } else if(controller.controller.getCellColor(row, col) == "black") {
                    <span class="board-tile-padding">
                        <img class="tile-img" src="@routes.Assets.versioned("images/blackButton.png")" alt="black tile">
                    </span>
                    } else if(controller.controller.getCellColor(row, col) == "grey") {
                    <span class="board-tile-padding">
                        <img class="tile-img" src="@routes.Assets.versioned("images/greyButton.png")" alt="grey tile">
                    </span>
                    } else if(controller.controller.getCellColor(row, col) == "white") {
                    <span class="board-tile-padding">
                        <img class="tile-img" src="@routes.Assets.versioned("images/whiteButton.png")" alt="white tile">
                    </span>
                    }
                }
                </div>
            }
            </div>
        </div>
        <div class="player col-lg-3 col-6">
            <h3 id="p2-name">@controller.controller.getPlayerTwoName</h3>
            <nav class="top-padding">
                <div class="nav nav-pills nav-justified" id="nav-tab-p2" role="tablist">
                    <button class="nav-link grey-link active" id="nav-tiles-tab-p2" data-bs-toggle="tab" data-bs-target="#nav-tiles-p2" type="button" role="tab" aria-controls="nav-tiles-p2" aria-selected="true">Tiles</button>
                    <button class="nav-link grey-link" id="nav-scoring-tab-p2" data-bs-toggle="tab" data-bs-target="#nav-scoring-p2" type="button" role="tab" aria-controls="nav-scoring-p2" aria-selected="false">Scoring rules</button>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent-p2">
                <div class="tab-pane fade show active top-padding" id="nav-tiles-p2" role="tabpanel" aria-labelledby="nav-tiles-tab-p2">
                    <h4 id="p2-points">@controller.controller.getBoard.getPlayerTwo.getPoints</h4>
                    <div class="tile-padding">
                        @for(tiles <- 0 until controller.controller.getBoard.getPlayerTwo.getTiles("red")) {
                        <span class="tile-padding tile-img" id="red-tiles-p2">
                            <img src="@routes.Assets.versioned("images/redButton.png")" class="player-tile" id="p2-redtile@tiles" alt="red tile">
                        </span>
                        }
                    </div>
                    <div class="tile-padding">
                        @for(tiles <- 0 until controller.controller.getBoard.getPlayerTwo.getTiles("black")) {
                        <span class="tile-padding tile-img" id="black-tiles-p2">
                            <img src="@routes.Assets.versioned("images/blackButton.png")" class="player-tile" id="p2-blacktile@tiles" alt="black tile">
                        </span>
                        }
                    </div>
                    <div class="tile-padding"class="tile-padding">
                        @for(tiles <- 0 until controller.controller.getBoard.getPlayerTwo.getTiles("grey")) {
                        <span class="tile-padding tile-img" id="grey-tiles-p2">
                            <img src="@routes.Assets.versioned("images/greyButton.png")" class="player-tile" id="p2-greytile@tiles"alt="grey tile">
                        </span>
                        }
                    </div>
                    <div class="tile-padding">
                        @for(tiles <- 0 until controller.controller.getBoard.getPlayerTwo.getTiles("white")) {
                        <span class="tile-padding tile-img" id="white-tiles-p2">
                            <img src="@routes.Assets.versioned("images/whiteButton.png")" class="player-tile" id="p2-whitetile@tiles" alt="white tile">
                        </span>
                        }
                    </div>
                </div>
                @quickrules("p2")
            </div>

        </div>
    </div>
    <div class="row">
        <div class="alert alert-dark alert-dismissible game-status" role="alert" id="status-alert">
            @controller.controller.getBoardStatus
            <a style="text-decoration:none" type="button" class="close" data-bs-dismiss="alert" aria-label="Close" id="close-icon">
                <span class="alert-icon" aria-hidden="true">&times;</span>
            </a>
        </div>
    </div>
</div>
}