
@main("Welcome to Play") {
    <div class="rule-body">
        <nav class="navbar navbar-dark bg-dark navbar-expand-lg ps-5">
            <a class="navbar-brand navBrandFont" href="#">Caro</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost:9000/">Menu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost:9000/board">Game</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="http://localhost:9000/rules">Rules</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Actions
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="http://localhost:9000/save">Save</a>
                            <a class="dropdown-item" href="http://localhost:9000/undo">Undo</a>
                            <a class="dropdown-item" href="http://localhost:9000/redo">Redo</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="http://localhost:9000/score">End Game</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="topPadding">
            <h1>Welcome to caro</h1>
            <p>Caro is a multiplayer strategy board game. This implementation allows for two players.</p>
        </div>
        <div>
            <div>
                <h2>How to play</h2>
                <p>The rules and point-distribution are explained in the following section</p>
                <div>
                    <h3>Rules</h3>
                    <p>The following rules are applied:</p>
                    <ul>
                        <li>Same color tiles may not be placed next to each other</li>
                        <li>No more than three tiles of the same color may be placed diagonally</li>
                        <li>No more than two neighboring tiles may be of the same color</li>
                        <li>Placed tiles may not exceed 6x6 in dimensions</li>
                    </ul>
                </div>
                <div>
                    <h3>Points</h3>
                    <p>The following tile combinations yield the following points:</p>
                    <div class="tile-combo">
                        <img src="@routes.Assets.versioned("images/redButton.png")" alt="red tile">
                        <img src="@routes.Assets.versioned("images/blackButton.png")" alt="black tile">
                        <span>:     10 points</span>
                    </div>
                    <div class="tile-combo">
                        <img src="@routes.Assets.versioned("images/redButton.png")" alt="red tile">
                        <img src="@routes.Assets.versioned("images/greyButton.png")" alt="grey tile">
                        <span>:     8 points</span>
                    </div>
                    <div class="tile-combo">
                        <img src="@routes.Assets.versioned("images/redButton.png")" alt="red tile">
                        <img src="@routes.Assets.versioned("images/whiteButton.png")" alt="white tile">
                        <span>:     6 points</span>
                    </div>
                    <div class="tile-combo">
                        <img src="@routes.Assets.versioned("images/blackButton.png")" alt="black tile">
                        <img src="@routes.Assets.versioned("images/greyButton.png")" alt="grey tile">
                        <span>:     4 points</span>
                    </div>
                    <div class="tile-combo">
                        <img src="@routes.Assets.versioned("images/blackButton.png")" alt="black tile">
                        <img src="@routes.Assets.versioned("images/whiteButton.png")" alt="white tile">
                        <span>:     2 points</span>
                    </div>
                    <div class="tile-combo">
                        <img src="@routes.Assets.versioned("images/greyButton.png")" alt="grey tile">
                        <img src="@routes.Assets.versioned("images/whiteButton.png")" alt="white tile">
                        <span>:     1 points</span>
                    </div>
                    <p>Furthermore, the following circumstances grant special points: </p>
                    <ul>
                        <li><b>10 points</b> will be granted when placing the first tile of the game</li>
                        <li><b>10 points</b> will be subtracted upon breaking a rule</li>
                        <li><b>Double points</b> will be granted when a player places the last tile of one of their colors</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
}
