@(controller: HomeController)

@main("Welcome to Caro") {
  <div class="score-body">
    <div>
      <img class="medal-img" src="@routes.Assets.versioned("images/medal.png")" alt="medal">
    </div>
    <div class="score-result">
      Congratulations
      @if(controller.controller.getBoard.getPlayerOne.getPoints > controller.controller.getBoard.getPlayerTwo.getPoints) {
        @controller.controller.getPlayerOneName you won!
      } else if(controller.controller.getBoard.getPlayerOne.getPoints < controller.controller.getBoard.getPlayerTwo.getPoints){
      @controller.controller.getPlayerTwoName you won!
      } else {
      it's a tie!
      }
    </div>
    <br>
    <a href="http://localhost:9000" class="button div-button">Back to menu</a>
    <a href="http://localhost:9000/board" class="button div-button">Continue Game</a>
  </div>
}

