@(controller: HomeController)
<!DOCTYPE html>
<html lang="en">
  <head>
      <title>Caro Score</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
  </head>
  <body class="body">
  <img class="img" src="@routes.Assets.versioned("images/medal.png")" alt="medal">
  <br>
  <a href="https://www.flaticon.com/free-icons/prize" title="prize icons" class="credits">Prize icons created by Becris - Flaticon</a>
  <div class="header">
    Congratulations
    @if(controller.controller.getBoard.getPlayerOne.getPoints > controller.controller.getBoard.getPlayerTwo.getPoints) {
      @controller.controller.getPlayerOneName you won!
    } else if(controller.controller.getBoard.getPlayerOne.getPoints < controller.controller.getBoard.getPlayerTwo.getPoints){
      @controller.controller.getPlayerTwoName you won!
    } else {
      it's a tie!
    }
  </div>
  <br>
  <a href="http://localhost:9000" class="button div-button">Back to menu</a>
  <a href="http://localhost:9000/board" class="button div-button">Continue Game</a>
  </body>
</html>