* {
    background-color: #303030;
    color: white;
    font-family: Tahoma, Arial, sans-serif;
}
.board-body {
    padding: 20px;
    text-align: center;
}

.header {
    text-align: center;
}

.tile-combo {
    padding: 5px;
}

.player {
    box-sizing: border-box;
    width: 50px
}

.game-status {
    margin: 19px 0;
    box-sizing: border-box;
    text-align: center;
    width: 50px;
}

.highlight {
    text-shadow: 3px 3px 5px #A0A0A0;
}

.row {
    display: flex;
    justify-content: center;
}

.col {
    flex: 0 0 20%;
    padding: 1em;
}
