@()

@main("Welcome to Play") {
  <div>
    <h1>Welcome to Caro!</h1>
    <h2>Choose your game:</h2>
    <a href="http://localhost:9000/newGame" class="button">New Game</a>
    <br>
    <br>
    <a href="http://localhost:9000/board" class="button">Continue Game</a>
    <br>
    <br>
    <a href="http://localhost:9000/load" class="button">Load Game</a>
    <div class="rules">
      <h3>If you want to have a look at the rules, click <a href="http://localhost:9000/rules">here!</a></h3>
    </div>
  </div>

}
